.card{
    background-color: var(--blanco);
    width: 42vw;
    max-width: 250px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
}
.card-img{
    width: 42vw;
    max-width: 250px;
    height: 42vw;
    max-height: 250px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-img img{
    transition: all .7s ease;
    width: 100%;
}
.card-img:hover img{
    transform: scale(1.25);
}
.card-a{
    color: var(--negro);
    text-decoration: none;
    margin: auto;
}
.card-titulo{
    font-size: 22px;
    margin: 0;
    padding: 9px 40px;
    transition: all 0.3s;
}
.card-titulo:hover{
    text-decoration: underline;
}
.card-precio{
    margin: 0;
    padding-bottom: 20px;
}
@media (max-width: 767px) {
    .card-titulo{
        font-size: 20px;
        padding: 9px 30px;
    }
}
@media (max-width: 414px) {
    .card-titulo{
        font-size: 18px;
        padding: 9px 15px;
    }
}