<main>
    <app-title [titulo]="titulo"></app-title>
    <div class="contenedor">
        <p class="parrafo">
            Todo comenzó en marzo del 2020, en pleno inicio de la pandemia. Es un emprendimiento que    anhelaba desde 2010 y daba vueltas al rededor de él hasta que entendi que tenia miedo a no     tener el éxito que hoy estoy logrando.
        </p>
        <p class="parrafo">
            Creo que todo lo que hagamos con amor, alegria, pasion y entusiasmo tiene que ser un    éxito. Ya  quí  estoy haciendo todo lo que puedo para llevarlo adelante.
        </p>
    </div>
</main>