<app-nav></app-nav>
<main>
    <app-title [titulo]="titulo"></app-title>
    <div class="contenedor">
        <p class="parrafo">
            Todo comenzó en marzo del 2020, en pleno inicio de la pandemia. Es un emprendimiento que anhelaba desde 2010 y daba vueltas alrededor de él hasta que entendí que tenía miedo a no tener el éxito que hoy estoy logrando.
        </p>
        <p class="parrafo">
            Creo que todo lo que hagamos con amor, alegría, pasión y entusiasmo tiene que ser un    éxito. Aquí  estoy haciendo todo para llevarlo adelante.
        </p>
        <p class="parrafo">
            Gracias por acompañarme en este momento tan especial donde puedo demostrar lo mejor de mí y sentirme halagada con cada comentario y demostración de amor que me brindan.
            Es muy importante para mí ya que sé que uds se dan cuenta de la pasión con que hago cada torta, alfajorcito, desayuno, merienda y me hace inmensamente feliz. 
        </p> 
        <p class="parrafo">
            Sin más que decir, los invito a que recorran mi página y disfruten tanto como yo lo hice al preparar todo. 
        </p>

        <p class="firma">
            Maricel
        </p>
    </div>
</main>
<app-footer></app-footer>