.slider{
  width: 100%;
  min-width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: var(--negro_oscuro);
}
.slider-ul{
  padding: 0;
  margin: 0;
  display: flex;
  width: 600%;
  animation: cambio 40s infinite;
}
.slider-ul_li{
  list-style: none;
  width: 100%;
}
.slider-ul_li-img{
  width: 100%;
  max-width: 1100px;
  height: 100%;
}

@keyframes cambio {
  0%{margin-left: 0;}
  15%{margin-left: 0;}
  /* tiempo de transicion */
  20%{margin-left: -100%;}
  35%{margin-left: -100%;}
  /* tiempo de transicion */
  40%{margin-left: -200%;}
  55%{margin-left: -200%;}
  /* tiempo de transicion */
  60%{margin-left: -300%;}
  75%{margin-left: -300%;}
  /* tiempo de transicion */
  80%{margin-left: -400%;}
  95%{margin-left: -400%;}
  /* tiempo de transicion */
  100%{margin-left: -500%;}
}