<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@5.5.0/keen-slider.min.css"/>

<div id="my-keen-slider" class="keen-slider">
  <div class="keen-slider__slide number-slide1"><img src="../../../assets/img/slider/1.jpg" alt=""></div>
  <div class="keen-slider__slide number-slide2"><img src="../../../assets/img/slider/2.jpg" alt=""></div>
  <div class="keen-slider__slide number-slide3"><img src="../../../assets/img/slider/3.jpg" alt=""></div>
  <div class="keen-slider__slide number-slide4"><img src="../../../assets/img/slider/4.jpg" alt=""></div>
  <div class="keen-slider__slide number-slide5"><img src="../../../assets/img/slider/5.jpg" alt=""></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/keen-slider@5.5.0/keen-slider.min.js"></script>

<!-- SLIDER SOLO CON HTML y CSS -->
<!-- <div class="slider">
  <ul class="slider-ul">
      <li class="slider-ul_li">
        <img class="slider-ul_li-img" src="../../../assets/img/slider/1.jpg" alt="">
      </li>
      <li class="slider-ul_li">
        <img class="slider-ul_li-img" src="../../../assets/img/slider/2.jpg" alt="">
      </li>
      <li class="slider-ul_li">
        <img class="slider-ul_li-img" src="../../../assets/img/slider/3.jpg" alt="">
      </li>
      <li class="slider-ul_li">
        <img class="slider-ul_li-img" src="../../../assets/img/slider/4.jpg" alt="">
      </li>
      <li class="slider-ul_li">
        <img class="slider-ul_li-img" src="../../../assets/img/slider/5.jpg" alt="">
      </li>
      <li class="slider-ul_li">
        <img class="slider-ul_li-img" src="../../../assets/img/slider/1.jpg" alt="">
      </li>
  </ul>
</div> -->