<nav class="nav">
        
    <ul class="lista-oculta">
        <li class="lista-oculta-item">
            <a class="btn" id="btn"></a>
        </li>
        <li class="lista-oculta-item">
            <a href="#">
                <img src="assets/img/logos/logo.png" alt="logo">
            </a>
        </li>
    </ul>

    <ul class="nav-lista" id="lista">
        <li class="nav-lista-item nav-lista-item-1">
            <a routerLink="./" class="nav-lista-item-link" id="link">Inicio</a>
        </li>
        <li class="nav-lista-item">
            <a routerLink="/tienda" class="nav-lista-item-link" id="link">Tienda</a>
        </li>
        <li class="nav-lista-item img-hover">
            <a routerLink="./" class="nav-lista-item-link img-a">
                <img src="assets/img/logos/logo.png" alt="logo" class="nav-lista-item-img">
            </a>
        </li>
        <li class="nav-lista-item">
            <a routerLink="/nosotros" class="nav-lista-item-link" id="link">Nosotros</a>
        </li>
        <li class="nav-lista-item">
            <a routerLink="/contacto" class="nav-lista-item-link" id="link">Contacto</a>
        </li>
    </ul>

</nav>
<!-- <span class="nav-bar" id="btn">
    <i class="fas fa-bars"></i>
</span>
<nav class="nav">
    <ul class="menu" id="menu">
        <li class="menu-item">
            <a routerLink="./" class="menu-item-link">Inicio</a>
        </li>
        <li class="menu-item">
            <a routerLink="/tienda" class="menu-item-link">Tienda</a>
        </li>
        <li class="menu-item">
            <a routerLink="./" class="menu-item-link">
                <img src="assets/img/logos/logo.png" alt="logo">
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/nosotros" class="menu-item-link">Nosotros</a>
        </li>
        <li class="menu-item">
            <a routerLink="/contacto" class="menu-item-link">Contacto</a>
        </li>
    </ul>
</nav> -->