<nav class="nav">
        
    <ul class="lista-oculta">
        <li class="lista-oculta-item">
            <a class="btn" id="btn"></a>
        </li>
        <li class="lista-oculta-item">
            <a routerLink="">
                <img src="assets/img/logos/logo.png" alt="logo">
            </a>
        </li>
    </ul>

    <ul class="nav-lista" id="lista">
        <li class="nav-lista-item nav-lista-item-1">
            <a routerLink="" class="nav-lista-item-link">Inicio</a>
        </li>
        <li class="nav-lista-item">
            <a routerLink="/tienda" class="nav-lista-item-link">Tienda</a>
        </li>
        <li class="nav-lista-item img-hover">
            <a routerLink="" class="nav-lista-item-link img-a">
                <img src="assets/img/logos/logo.png" alt="logo" class="nav-lista-item-img">
            </a>
        </li>
        <li class="nav-lista-item">
            <a routerLink="/nosotros" class="nav-lista-item-link">Nosotros</a>
        </li>
        <li class="nav-lista-item">
            <a routerLink="/contacto" class="nav-lista-item-link">Contacto</a>
        </li>
    </ul>

</nav>